* {
	margin: 0;
	padding: 0;
}

body {
  position: relative;
}

#nav {
  z-index: 1000;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 4em;
  overflow: auto;
  background-color: lightgrey;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#nav #my-name {
  float: left;
  margin-left: 1em;
}

#nav li a {
  display: block;
  float: right;
  width: auto;
  margin-right: 2em;
  margin-top: 1em;
  padding: 0.5em;
  color: black;
  text-decoration: none;
    
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#nav li a:hover{
  background-color: grey;
  color: white;
}

#home {
  margin-top: 7em;
  margin-left: 18vw;
  margin-right: 18vw;
  margin-bottom: 6em;
  position: relative;
}

#home figure {
  width: 30vw;
  display: inline-block;
}

#home figure img {
  width: 100%;
  border-radius: 10px;
}

#home figcaption {
  text-align: center;
}

#intro {
  display: inline-block;
  width: 30vw;
  margin-left: 3vw;
  position: absolute;
  top: 2;
  text-align: center;
}

#intro h1 {
  text-align: center;
  padding-bottom: 0.2em;
}

hr {
  margin-left: 16vw;
  margin-right: 16vw;
}

@media screen and (max-width: 600px) {
  #home figure, #intro {
    display: block;
    width: 100%;
    margin: auto;
  }
}

#section-separator {
  background-color: black;
  width: 75%;
  height: 3px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

footer {
  bottom: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}